@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #424546;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 23px;
  padding: 1.2rem;
}

h1, p, label, input {
  color: #fff;
  font-family: "Outfit", Arial;
}

p {
  text-align: center;
}

.intro {
  display: flex;
  align-items: center;
}

.graphic {
  margin-left: 0.5rem;
  padding-top: 0.3rem;
  background: linear-gradient(
    to right bottom,
    #00ff00, #00ffff
  );
  background-clip: text;
  color: transparent;
  background-size: 100% 100%;
  animation: animBackgroundIcon 3s ease infinite;
}

h1 {
  text-align: center;
  color: #00ffff;
}

.inputs-container {
  margin-top: 1.25rem;
  padding: 0.2rem;
  display: flex;
  gap: 10px;
  border: 3px solid #000;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.discontIcon {
  background: linear-gradient(
    to left bottom,
    #f74728 30%, #ffb13d 75%
  );
  background-size: 100% 100%;
  background-clip: text;
  color: transparent;
  padding-top: -.5rem;
  animation: animBackgroundIcon 2s ease infinite;
}

.input {
  font-size: 1.1rem;
  padding: .5rem;
  background: #000;
  border-radius: 8px;
  border: none;
  color:#00ff00;
  outline: none;
}

.input::placeholder {
  color: #00ff0085;
}

.payoutPara {
  margin-top: 2rem;
  font-size: 1.35rem;
}

#moneyFallContainer {
  position: absolute;
  inset: 0;
  padding: 0.25rem;
  z-index: -1;
}

.money {
  position: absolute;
  color: #0cb30c;
  font-size: 6rem;
  font-family: "Outfit", Arial;
  animation: fall 1.25s ease forwards;
}

@media (max-width: 421px) {
  .inputs-container {
    flex-direction: column;
  }
}


@keyframes animBackgroundIcon {
  0%, 100% {background-size: 100% 100%;}
  50% {background-size: 222% 222%;}
}

@keyframes fall {
  100% {
    transform: translateX(100%) translateY(500%);
    opacity: 0;
  }
}